.search-input {
  margin: 10px 10px 0px 10px;
  width: calc(100% - 20px) !important;
}

.auto-form {
  margin-top: 10px;
}

.auto-form-item {
  float: left;
  width: 340px;
  padding: 0 !important;
  .auto-label {
    float: left;
    display: block;
    line-height: 32px;
    width: 110px;
  }
  .auto-content {
    float: left;
    display: block;
    width: 200px;

    .u-select {
      width: 100%;
    }

    .error {
      color: #ffff;
      font-size: 12px;
      padding-left: 12px;
      background-color: #f44336;
      width: 100%;
      display: block;
    }

  }
}

.right-button {
  float: right;
  margin-top: 5px;
}
